In [1]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# Part 1: Load the Weather data

In [2]:
df_c = pd.read_csv('../../Data/Raw/city_attributes.csv')
df_h = pd.read_csv('../../Data/Raw/humidity.csv')
df_p = pd.read_csv('../../Data/Raw/pressure.csv')
df_t = pd.read_csv('../../Data/Raw/temperature.csv')
df_d = pd.read_csv('../../Data/Raw/weather_description.csv')
df_wd = pd.read_csv('../../Data/Raw/wind_direction.csv')
df_ws = pd.read_csv('../../Data/Raw/wind_speed.csv')

In [3]:
#size and number of variables in the dataset
print(df_c.shape)
print(df_h.shape)
print(df_p.shape)
print(df_t.shape)
print(df_d.shape)
print(df_wd.shape)
print(df_ws.shape)

(36, 4)
(45253, 37)
(45253, 37)
(45253, 37)
(45253, 37)
(45253, 37)
(45253, 37)

In [4]:
#Let us look at the columns of the city_attributes.csv
print(df_c.dtypes)

City          object
Country       object
Latitude     float64
Longitude    float64
dtype: object

In [5]:
#Let us look at the columns of the other csv: humidty, pressure, temperature, wind_direction, wind_speed
print(df_h.dtypes)
print(df_p.dtypes)
print(df_t.dtypes)
print(df_wd.dtypes)
print(df_ws.dtypes)

datetime              object
Vancouver            float64
Portland             float64
San Francisco        float64
Seattle              float64
Los Angeles          float64
San Diego            float64
Las Vegas            float64
Phoenix              float64
Albuquerque          float64
Denver               float64
San Antonio          float64
Dallas               float64
Houston              float64
Kansas City          float64
Minneapolis          float64
Saint Louis          float64
Chicago              float64
Nashville            float64
Indianapolis         float64
Atlanta              float64
Detroit              float64
Jacksonville         float64
Charlotte            float64
Miami                float64
Pittsburgh           float64
Toronto              float64
Philadelphia         float64
New York             float64
Montreal             float64
Boston               float64
Beersheba            float64
Tel Aviv District    float64
Eilat                float64
Haifa                float64
Nahariyya            float64
Jerusalem            float64
dtype: object
datetime              object
Vancouver            float64
Portland             float64
San Francisco        float64
Seattle              float64
Los Angeles          float64
San Diego            float64
Las Vegas            float64
Phoenix              float64
Albuquerque          float64
Denver               float64
San Antonio          float64
Dallas               float64
Houston              float64
Kansas City          float64
Minneapolis          float64
Saint Louis          float64
Chicago              float64
Nashville            float64
Indianapolis         float64
Atlanta              float64
Detroit              float64
Jacksonville         float64
Charlotte            float64
Miami                float64
Pittsburgh           float64
Toronto              float64
Philadelphia         float64
New York             float64
Montreal             float64
Boston               float64
Beersheba            float64
Tel Aviv District    float64
Eilat                float64
Haifa                float64
Nahariyya            float64
Jerusalem            float64
dtype: object
datetime              object
Vancouver            float64
Portland             float64
San Francisco        float64
Seattle              float64
Los Angeles          float64
San Diego            float64
Las Vegas            float64
Phoenix              float64
Albuquerque          float64
Denver               float64
San Antonio          float64
Dallas               float64
Houston              float64
Kansas City          float64
Minneapolis          float64
Saint Louis          float64
Chicago              float64
Nashville            float64
Indianapolis         float64
Atlanta              float64
Detroit              float64
Jacksonville         float64
Charlotte            float64
Miami                float64
Pittsburgh           float64
Toronto              float64
Philadelphia         float64
New York             float64
Montreal             float64
Boston               float64
Beersheba            float64
Tel Aviv District    float64
Eilat                float64
Haifa                float64
Nahariyya            float64
Jerusalem            float64
dtype: object
datetime              object
Vancouver            float64
Portland             float64
San Francisco        float64
Seattle              float64
Los Angeles          float64
San Diego            float64
Las Vegas            float64
Phoenix              float64
Albuquerque          float64
Denver               float64
San Antonio          float64
Dallas               float64
Houston              float64
Kansas City          float64
Minneapolis          float64
Saint Louis          float64
Chicago              float64
Nashville            float64
Indianapolis         float64
Atlanta              float64
Detroit              float64
Jacksonville         float64
Charlotte            float64
Miami                float64
Pittsburgh           float64
Toronto              float64
Philadelphia         float64
New York             float64
Montreal             float64
Boston               float64
Beersheba            float64
Tel Aviv District    float64
Eilat                float64
Haifa                float64
Nahariyya            float64
Jerusalem            float64
dtype: object
datetime              object
Vancouver            float64
Portland             float64
San Francisco        float64
Seattle              float64
Los Angeles          float64
San Diego            float64
Las Vegas            float64
Phoenix              float64
Albuquerque          float64
Denver               float64
San Antonio          float64
Dallas               float64
Houston              float64
Kansas City          float64
Minneapolis          float64
Saint Louis          float64
Chicago              float64
Nashville            float64
Indianapolis         float64
Atlanta              float64
Detroit              float64
Jacksonville         float64
Charlotte            float64
Miami                float64
Pittsburgh           float64
Toronto              float64
Philadelphia         float64
New York             float64
Montreal             float64
Boston               float64
Beersheba            float64
Tel Aviv District    float64
Eilat                float64
Haifa                float64
Nahariyya            float64
Jerusalem            float64
dtype: object

In [6]:
#Let us look at the columns of the weather_description.csv
print(df_d.dtypes)
#Note: all columns are defined as objects

datetime             object
Vancouver            object
Portland             object
San Francisco        object
Seattle              object
Los Angeles          object
San Diego            object
Las Vegas            object
Phoenix              object
Albuquerque          object
Denver               object
San Antonio          object
Dallas               object
Houston              object
Kansas City          object
Minneapolis          object
Saint Louis          object
Chicago              object
Nashville            object
Indianapolis         object
Atlanta              object
Detroit              object
Jacksonville         object
Charlotte            object
Miami                object
Pittsburgh           object
Toronto              object
Philadelphia         object
New York             object
Montreal             object
Boston               object
Beersheba            object
Tel Aviv District    object
Eilat                object
Haifa                object
Nahariyya            object
Jerusalem            object
dtype: object

In [7]:
#let us look at details of numeric variables
print(df_c.describe())
print(df_h.describe())
print(df_p.describe())
print(df_t.describe())
print(df_wd.describe())
print(df_ws.describe())

        Latitude   Longitude
count  36.000000   36.000000
mean   37.066743  -73.544668
std     5.815514   51.612349
min    25.774269 -123.119339
25%    32.766126 -105.401312
50%    36.170429  -86.471241
75%    40.998211  -74.874332
max    49.249660   35.216331
          Vancouver      Portland  San Francisco       Seattle   Los Angeles  \
count  43427.000000  44804.000000   44311.000000  44964.000000  45101.000000
mean      81.895480     74.697616      76.875042     77.159038     62.773841
std       14.522221     19.042656      17.396016     18.147464     21.818042
min       12.000000     10.000000       6.000000     13.000000      5.000000
25%       73.000000     63.000000      68.000000     66.000000     48.000000
50%       86.000000     80.000000      81.000000     81.000000     66.000000
75%       93.000000     90.000000      89.000000     93.000000     81.000000
max      100.000000    100.000000     100.000000    100.000000    100.000000

          San Diego     Las Vegas       Phoenix   Albuquerque        Denver  \
count  44909.000000  44411.000000  43945.000000  44543.000000  43445.000000
mean      67.784809     31.937831     37.484424     45.186157     53.022557
std       19.419307     20.041855     21.662728     23.336546     23.905392
min        5.000000      5.000000      5.000000      5.000000      5.000000
25%       56.000000     16.000000     21.000000     26.000000     33.000000
50%       71.000000     27.000000     32.000000     42.000000     52.000000
75%       82.000000     43.000000     50.000000     63.000000     73.000000
max      100.000000    100.000000    100.000000    100.000000    100.000000

           ...       Philadelphia      New York      Montreal        Boston  \
count      ...       44629.000000  43629.000000  43557.000000  44804.000000
mean       ...          68.017769     66.642417     71.861538     77.375301
std        ...          18.790524     19.874727     16.825027     18.750190
min        ...          10.000000     10.000000      7.000000     11.000000
25%        ...          54.000000     51.000000     60.000000     65.000000
50%        ...          68.000000     68.000000     74.000000     81.000000
75%        ...          84.000000     83.000000     86.000000     93.000000
max        ...         100.000000    100.000000    100.000000    100.000000

          Beersheba  Tel Aviv District         Eilat         Haifa  \
count  44394.000000       44140.000000  44283.000000  44435.000000
mean      70.604857          66.861509     53.155184     79.800383
std       21.321606          16.464177     27.305008     23.051692
min        5.000000           5.000000      5.000000      5.000000
25%       54.000000          58.000000     31.000000     63.000000
50%       77.000000          69.000000     48.000000     89.000000
75%       88.000000          78.000000     75.000000    100.000000
max      100.000000         100.000000    100.000000    100.000000

          Nahariyya     Jerusalem
count  44436.000000  44347.000000
mean      78.606760     68.732293
std       23.682244     19.273881
min        5.000000      5.000000
25%       61.000000     56.000000
50%       87.000000     70.000000
75%      100.000000     83.000000
max      100.000000    100.000000

[8 rows x 36 columns]
          Vancouver      Portland  San Francisco       Seattle   Los Angeles  \
count  41019.000000  45249.000000   44438.000000  45240.000000  45001.000000
mean    1018.130915   1019.268382    1018.843872   1021.001216   1015.912735
std       15.792425      9.943136       7.333477      9.737187     11.289701
min      807.000000    968.000000     985.000000    980.000000    886.000000
25%     1012.000000   1014.000000    1014.000000   1015.000000   1013.000000
50%     1017.000000   1019.000000    1018.000000   1020.000000   1016.000000
75%     1022.000000   1025.000000    1023.000000   1027.000000   1021.000000
max     1100.000000   1056.000000    1044.000000   1058.000000   1044.000000

          San Diego     Las Vegas       Phoenix   Albuquerque        Denver  \
count  45078.000000  45165.000000  44659.000000  44797.000000  44710.000000
mean    1017.524491   1013.659648   1013.297342   1012.292185   1011.976359
std        8.554904     18.893592     11.988782     39.049838     41.343487
min      964.000000    901.000000    884.000000    810.000000    800.000000
25%     1014.000000   1010.000000   1009.000000   1015.000000   1014.000000
50%     1017.000000   1015.000000   1014.000000   1021.000000   1020.000000
75%     1022.000000   1022.000000   1020.000000   1025.000000   1025.000000
max     1043.000000   1047.000000   1076.000000   1054.000000   1089.000000

           ...       Philadelphia      New York      Montreal        Boston  \
count      ...       45249.000000  44212.000000  44259.000000  45246.000000
mean       ...        1020.250193   1017.018977   1016.424953   1019.861314
std        ...           9.507596     10.125738      9.534390      9.548220
min        ...         824.000000    959.000000    822.000000    978.000000
25%        ...        1014.000000   1012.000000   1011.000000   1014.000000
50%        ...        1019.000000   1017.000000   1016.000000   1019.000000
75%        ...        1026.000000   1023.000000   1022.000000   1026.000000
max        ...        1059.000000   1052.000000   1054.000000   1054.000000

          Beersheba  Tel Aviv District         Eilat         Haifa  \
count  44447.000000       44323.000000  44461.000000  44455.000000
mean     991.172565        1013.815468   1002.039248   1017.550804
std       14.165100           6.476167     22.610353      7.500017
min      957.000000         929.000000    936.000000    999.000000
25%      985.000000        1010.000000   1002.000000   1012.000000
50%      988.000000        1013.000000   1010.000000   1017.000000
75%      994.000000        1018.000000   1016.000000   1024.000000
max     1099.000000        1039.000000   1040.000000   1042.000000

          Nahariyya     Jerusalem
count  44458.000000  44454.000000
mean    1015.901997   1011.034980
std       10.238495     12.951002
min      980.000000    981.000000
25%     1011.000000   1002.000000
50%     1017.000000   1012.000000
75%     1023.000000   1020.000000
max     1042.000000   1042.000000

[8 rows x 36 columns]
          Vancouver      Portland  San Francisco       Seattle   Los Angeles  \
count  44458.000000  45252.000000   44460.000000  45250.000000  45250.000000
mean     283.862654    284.992929     288.155821    284.409626    290.846116
std        6.640131      7.452438       5.332862      6.547986      6.460823
min      245.150000    262.370000     272.300000    263.780000    266.503667
25%      279.160000    279.850000     284.670000    279.830000    286.380000
50%      283.450000    284.320000     287.610000    283.940000    290.530000
75%      288.600785    289.451750     291.015167    288.530000    295.080000
max      307.000000    312.520000     313.620000    307.300000    315.470000

          San Diego     Las Vegas       Phoenix   Albuquerque        Denver  \
count  45252.000000  45252.000000  45250.000000  45252.000000  45252.000000
mean     290.215044    292.424887    295.493358    285.617856    282.839407
std        5.889992     10.829522      9.916743      9.853484     10.673464
min      265.783333    260.561333    266.059000    255.042333    247.727667
25%      286.254750    283.920000    287.680000    277.970000    275.060000
50%      290.118750    292.027486    295.586667    286.120000    282.970667
75%      294.107542    300.835000    303.050000    292.835643    290.680000
max      313.360000    318.640000    321.220000    312.710000    313.750000

           ...       Philadelphia      New York      Montreal        Boston  \
count      ...       45250.000000  44460.000000  45250.000000  45250.000000
mean       ...         285.374168    285.400406    280.343010    283.779823
std        ...          10.242377     10.220932     11.953626      9.802499
min        ...         250.390000    250.774000    243.300000    249.540000
25%        ...         277.350636    277.370000    271.971750    276.090000
50%        ...         285.927583    285.870000    281.109000    284.133250
75%        ...         293.796000    293.760000    290.369583    291.620000
max        ...         308.000000    310.240000    307.880000    308.000000

          Beersheba  Tel Aviv District         Eilat         Haifa  \
count  44455.000000       44460.000000  44461.000000  44455.000000
mean     291.521986         294.512307    296.497276    295.266398
std        7.821815           6.676412      8.852984      6.324566
min      272.179000         271.049000    271.150000    271.150000
25%      285.366623         289.450000    289.734000    290.467333
50%      290.932667         294.900000    296.150000    294.820000
75%      297.270000         299.800000    303.150000    299.660000
max      314.820000         320.930000    320.150000    320.930000

          Nahariyya     Jerusalem
count  44456.000000  44460.000000
mean     294.094803    293.184253
std        6.304118      7.093583
min      268.682000    272.974000
25%      289.881833    287.524279
50%      294.150000    292.996000
75%      298.930000    299.150000
max      313.150000    317.040000

[8 rows x 36 columns]

          Vancouver      Portland  San Francisco       Seattle   Los Angeles  \
count  44458.000000  45252.000000   44459.000000  45252.000000  45252.000000
mean     159.892978    189.900071     209.299489    161.380226    139.549611
std       98.163221    102.873761      95.589055    103.206816    105.591486
min        0.000000      0.000000       0.000000      0.000000      0.000000
25%       80.000000    107.000000     160.000000     70.000000     29.000000
50%      140.000000    198.000000     232.000000    175.000000    140.000000
75%      236.000000    289.000000     280.000000    218.000000    230.000000
max      360.000000    360.000000     360.000000    360.000000    360.000000

          San Diego     Las Vegas       Phoenix   Albuquerque        Denver  \
count  45252.000000  45248.000000  45252.000000  45252.000000  45252.000000
mean     199.212852    176.320987    168.564351    199.878458    184.769005
std      106.350252    106.902903    107.533094    104.462490    104.705030
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%      102.000000     94.000000     74.000000    125.000000    100.000000
50%      230.000000    180.000000    180.000000    210.000000    200.000000
75%      290.000000    255.000000    250.000000    292.000000    268.000000
max      360.000000    360.000000    360.000000    360.000000    360.000000

           ...       Philadelphia      New York      Montreal        Boston  \
count      ...       45252.000000  44460.000000  45252.000000  45252.000000
mean       ...         202.947008    196.250247    190.133541    184.915562
std        ...         102.323689    107.433676     99.033739    107.763589
min        ...           0.000000      0.000000      0.000000      0.000000
25%        ...         120.000000    104.000000    111.000000     80.000000
50%        ...         224.000000    220.000000    220.000000    210.000000
75%        ...         289.000000    289.000000    260.000000    272.000000
max        ...         360.000000    360.000000    360.000000    360.000000

          Beersheba  Tel Aviv District         Eilat         Haifa  \
count  44460.000000       44460.000000  44456.000000  44460.000000
mean     218.891206         171.459199    204.244691    196.070558
std      102.304924         121.843329    144.891439    112.498247
min        0.000000           0.000000      0.000000      0.000000
25%      112.000000          40.000000     40.000000    106.750000
50%      252.000000         184.000000    264.000000    224.000000
75%      309.000000         280.000000    345.000000    291.000000
max      359.000000         360.000000    360.000000    360.000000

          Nahariyya     Jerusalem
count  44460.000000  44460.000000
mean     194.901552    185.095592
std      111.983576    117.733600
min        0.000000      0.000000
25%      102.000000     68.000000
50%      223.000000    230.000000
75%      290.000000    287.000000
max      360.000000    360.000000

[8 rows x 36 columns]
          Vancouver      Portland  San Francisco       Seattle   Los Angeles  \
count  44458.000000  45252.000000   44459.000000  45252.000000  45252.000000
mean       2.432746      2.050738       2.786702      2.118116      1.219548
std        2.004636      1.840815       2.284011      1.629988      1.434552
min        0.000000      0.000000       0.000000      0.000000      0.000000
25%        1.000000      1.000000       1.000000      1.000000      0.000000
50%        2.000000      1.000000       2.000000      2.000000      1.000000
75%        4.000000      3.000000       4.000000      3.000000      2.000000
max       25.000000     17.000000      43.000000     24.000000     17.000000

          San Diego     Las Vegas       Phoenix   Albuquerque        Denver  \
count  45252.000000  45238.000000  45251.000000  45249.000000  45251.000000
mean       1.751458      2.463482      1.909063      2.763685      2.438996
std        1.489450      2.318692      1.623629      2.300933      2.158956
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        1.000000      1.000000      1.000000      1.000000      1.000000
50%        1.000000      2.000000      1.000000      2.000000      2.000000
75%        2.000000      3.000000      3.000000      4.000000      3.000000
max       30.000000     19.000000     48.000000     22.000000     22.000000

           ...       Philadelphia      New York      Montreal        Boston  \
count      ...       45251.000000  44460.000000  45252.000000  45252.000000
mean       ...           2.643212      3.210954      3.831897      3.380889
std        ...           1.836347      2.189716      2.483430      2.277266
min        ...           0.000000      0.000000      0.000000      0.000000
25%        ...           1.000000      2.000000      2.000000      2.000000
50%        ...           2.000000      3.000000      3.000000      3.000000
75%        ...           3.000000      4.000000      5.000000      5.000000
max        ...          31.000000     25.000000     24.000000     20.000000

          Beersheba  Tel Aviv District         Eilat         Haifa  \
count  44460.000000       44459.000000  44461.000000  44458.000000
mean       1.989339           2.722306      3.452576      3.299406
std        1.462556           1.923380      2.323312      2.177502
min        0.000000           0.000000      0.000000      0.000000
25%        1.000000           1.000000      1.000000      2.000000
50%        1.000000           2.000000      3.000000      3.000000
75%        3.000000           4.000000      5.000000      4.000000
max       14.000000          49.000000     44.000000     19.000000

          Nahariyya     Jerusalem
count  44459.000000  44459.000000
mean       3.024292      1.880047
std        2.124482      1.712640
min        0.000000      0.000000
25%        1.000000      1.000000
50%        3.000000      1.000000
75%        4.000000      2.000000
max       17.000000     49.000000

[8 rows x 36 columns]

In [8]:
c = df_c.dtypes.index
for x in c:
    missing=np.where(df_c[x].isnull()==True)
    print(x, "column has", len(missing[0]), "missing values")

City column has 0 missing values
Country column has 0 missing values
Latitude column has 0 missing values
Longitude column has 0 missing values

In [9]:
# identify cities with more than 700 missing humidity values
c = df_h.dtypes.index
for x in c:
    missing=np.where(df_h[x].isnull()==True)
    if len(missing[0]) >= 700: 
        print(x, "column has", len(missing[0]), "missing values")

Vancouver column has 1826 missing values
San Francisco column has 942 missing values
Las Vegas column has 842 missing values
Phoenix column has 1308 missing values
Albuquerque column has 710 missing values
Denver column has 1808 missing values
Saint Louis column has 1289 missing values
Chicago column has 1109 missing values
Detroit column has 862 missing values
Miami column has 1087 missing values
Toronto column has 728 missing values
New York column has 1624 missing values
Montreal column has 1696 missing values
Beersheba column has 859 missing values
Tel Aviv District column has 1113 missing values
Eilat column has 970 missing values
Haifa column has 818 missing values
Nahariyya column has 817 missing values
Jerusalem column has 906 missing values

In [10]:
# identify cities with more than 700 missing pressure values
c = df_p.dtypes.index
for x in c:
    missing=np.where(df_p[x].isnull()==True)
    if len(missing[0]) >= 700: 
        print(x, "column has", len(missing[0]), "missing values")

Vancouver column has 4234 missing values
San Francisco column has 815 missing values
Chicago column has 725 missing values
Miami column has 794 missing values
New York column has 1041 missing values
Montreal column has 994 missing values
Beersheba column has 806 missing values
Tel Aviv District column has 930 missing values
Eilat column has 792 missing values
Haifa column has 798 missing values
Nahariyya column has 795 missing values
Jerusalem column has 799 missing values

In [11]:
# identify cities with more than 700 missing temperature values
c = df_t.dtypes.index
for x in c:
    missing=np.where(df_t[x].isnull()==True)
    if len(missing[0]) >= 700: 
        print(x, "column has", len(missing[0]), "missing values")

Vancouver column has 795 missing values
San Francisco column has 793 missing values
Miami column has 805 missing values
New York column has 793 missing values
Beersheba column has 798 missing values
Tel Aviv District column has 793 missing values
Eilat column has 792 missing values
Haifa column has 798 missing values
Nahariyya column has 797 missing values
Jerusalem column has 793 missing values

In [12]:
# identify cities with more than 700 missing description values
c = df_d.dtypes.index
for x in c:
    missing=np.where(df_d[x].isnull()==True)
    if len(missing[0]) >= 700: 
        print(x, "column has", len(missing[0]), "missing values")

Vancouver column has 793 missing values
San Francisco column has 793 missing values
Miami column has 793 missing values
New York column has 793 missing values
Beersheba column has 793 missing values
Tel Aviv District column has 793 missing values
Eilat column has 792 missing values
Haifa column has 793 missing values
Nahariyya column has 793 missing values
Jerusalem column has 793 missing values

In [13]:
# identify cities with more than 700 missing wind direction values
c = df_wd.dtypes.index
for x in c:
    missing=np.where(df_wd[x].isnull()==True)
    if len(missing[0]) >= 700: 
        print(x, "column has", len(missing[0]), "missing values")

Vancouver column has 795 missing values
San Francisco column has 794 missing values
Miami column has 795 missing values
New York column has 793 missing values
Beersheba column has 793 missing values
Tel Aviv District column has 793 missing values
Eilat column has 797 missing values
Haifa column has 793 missing values
Nahariyya column has 793 missing values
Jerusalem column has 793 missing values

In [14]:
# identify cities with more than 700 missing wind speed values
c = df_ws.dtypes.index
for x in c:
    missing=np.where(df_ws[x].isnull()==True)
    if len(missing[0]) >= 700: 
        print(x, "column has", len(missing[0]), "missing values")

Vancouver column has 795 missing values
San Francisco column has 794 missing values
Miami column has 795 missing values
New York column has 793 missing values
Beersheba column has 793 missing values
Tel Aviv District column has 794 missing values
Eilat column has 792 missing values
Haifa column has 795 missing values
Nahariyya column has 794 missing values
Jerusalem column has 794 missing values

In [15]:
c = df_d.dtypes.index
for x in c:
    print(x)
    print(df_d[x].unique())

datetime
['2012-10-01 12:00:00' '2012-10-01 13:00:00' '2012-10-01 14:00:00' ...
 '2017-11-29 22:00:00' '2017-11-29 23:00:00' '2017-11-30 00:00:00']
Vancouver
[nan 'mist' 'broken clouds' 'sky is clear' 'light rain' 'few clouds' 'fog'
 'overcast clouds' 'light intensity shower rain' 'moderate rain'
 'light intensity drizzle' 'scattered clouds' 'proximity shower rain'
 'heavy intensity rain' 'heavy snow' 'shower rain' 'snow'
 'heavy shower snow' 'light intensity drizzle rain' 'light snow'
 'very heavy rain' 'smoke' 'thunderstorm with heavy rain'
 'light shower snow' 'thunderstorm' 'thunderstorm with light rain' 'haze'
 'dust' 'volcanic ash' 'heavy intensity shower rain'
 'thunderstorm with rain' 'sleet' 'light rain and snow' 'drizzle'
 'shower snow' 'light shower sleet' 'proximity thunderstorm'
 'ragged thunderstorm']
Portland
[nan 'scattered clouds' 'sky is clear' 'few clouds' 'broken clouds'
 'overcast clouds' 'mist' 'haze' 'dust' 'fog' 'moderate rain' 'light rain'
 'heavy intensity rain' 'light intensity drizzle' 'heavy snow' 'snow'
 'light snow' 'very heavy rain' 'thunderstorm' 'proximity thunderstorm'
 'smoke' 'freezing rain' 'thunderstorm with light rain' 'drizzle' 'sleet']
San Francisco
[nan 'light rain' 'sky is clear' 'haze' 'scattered clouds'
 'overcast clouds' 'broken clouds' 'mist' 'few clouds' 'fog'
 'proximity thunderstorm' 'light intensity drizzle' 'moderate rain'
 'thunderstorm' 'heavy intensity rain' 'thunderstorm with heavy rain'
 'proximity shower rain' 'heavy intensity drizzle' 'heavy snow' 'drizzle'
 'thunderstorm with rain' 'thunderstorm with light rain' 'very heavy rain'
 'proximity thunderstorm with rain' 'light intensity shower rain' 'smoke'
 'shower rain' 'squalls' 'light snow']
Seattle
[nan 'sky is clear' 'few clouds' 'scattered clouds' 'broken clouds'
 'overcast clouds' 'mist' 'haze' 'fog' 'light rain' 'moderate rain'
 'heavy intensity rain' 'heavy snow' 'proximity thunderstorm'
 'thunderstorm with rain' 'thunderstorm with heavy rain'
 'thunderstorm with light rain' 'light snow' 'very heavy rain'
 'light intensity drizzle' 'smoke' 'thunderstorm' 'squalls' 'drizzle'
 'snow' 'heavy intensity drizzle' 'light shower snow'
 'light intensity shower rain' 'shower rain' 'heavy intensity shower rain']
Los Angeles
[nan 'mist' 'sky is clear' 'fog' 'haze' 'few clouds' 'overcast clouds'
 'scattered clouds' 'broken clouds' 'light rain' 'thunderstorm with rain'
 'moderate rain' 'thunderstorm' 'shower rain' 'smoke' 'drizzle'
 'light intensity drizzle' 'heavy intensity rain'
 'light intensity shower rain' 'very heavy rain'
 'thunderstorm with light rain' 'proximity thunderstorm'
 'thunderstorm with heavy rain' 'squalls' 'dust' 'proximity shower rain']
San Diego
[nan 'sky is clear' 'few clouds' 'haze' 'scattered clouds' 'mist'
 'broken clouds' 'fog' 'overcast clouds' 'light rain' 'moderate rain'
 'light intensity drizzle' 'drizzle' 'squalls' 'heavy intensity rain'
 'smoke' 'thunderstorm' 'shower rain' 'very heavy rain'
 'thunderstorm with light rain' 'proximity thunderstorm'
 'thunderstorm with rain' 'light intensity shower rain']
Las Vegas
[nan 'sky is clear' 'few clouds' 'scattered clouds' 'light rain'
 'broken clouds' 'overcast clouds' 'proximity thunderstorm' 'mist' 'haze'
 'light intensity drizzle' 'heavy intensity rain' 'moderate rain' 'dust'
 'thunderstorm' 'squalls' 'thunderstorm with heavy rain' 'light snow'
 'thunderstorm with light rain' 'thunderstorm with rain' 'fog' 'drizzle'
 'heavy intensity drizzle' 'light intensity shower rain']
Phoenix
[nan 'sky is clear' 'few clouds' 'scattered clouds' 'broken clouds'
 'light rain' 'proximity shower rain' 'overcast clouds' 'haze'
 'light intensity drizzle' 'light intensity shower rain' 'moderate rain'
 'mist' 'heavy snow' 'heavy intensity rain' 'shower rain' 'thunderstorm'
 'dust' 'proximity thunderstorm' 'thunderstorm with heavy rain'
 'thunderstorm with light rain' 'very heavy rain'
 'proximity sand/dust whirls' 'smoke' 'thunderstorm with rain' 'fog'
 'drizzle']
Albuquerque
[nan 'sky is clear' 'few clouds' 'scattered clouds' 'broken clouds'
 'overcast clouds' 'light rain' 'moderate rain' 'proximity shower rain'
 'proximity moderate rain' 'smoke' 'light intensity shower rain'
 'shower rain' 'mist' 'fog' 'heavy snow' 'sand' 'sleet' 'dust'
 'light snow' 'thunderstorm with light rain' 'thunderstorm' 'haze'
 'heavy intensity rain' 'squalls' 'thunderstorm with heavy rain'
 'thunderstorm with rain' 'proximity thunderstorm' 'drizzle'
 'very heavy rain' 'light intensity drizzle' 'snow' 'shower snow'
 'proximity thunderstorm with rain' 'sand/dust whirls'
 'proximity thunderstorm with drizzle' 'heavy intensity drizzle'
 'thunderstorm with drizzle']
Denver
[nan 'light rain' 'broken clouds' 'proximity shower rain' 'sky is clear'
 'scattered clouds' 'few clouds' 'squalls' 'overcast clouds' 'heavy snow'
 'mist' 'haze' 'fog' 'proximity thunderstorm' 'light snow' 'snow'
 'heavy intensity rain' 'moderate rain' 'very heavy rain'
 'light intensity drizzle' 'thunderstorm with rain' 'drizzle'
 'thunderstorm' 'thunderstorm with light rain'
 'light intensity shower rain' 'smoke' 'thunderstorm with heavy rain'
 'dust' 'proximity thunderstorm with rain' 'shower rain'
 'thunderstorm with light drizzle' 'light rain and snow'
 'heavy intensity drizzle' 'thunderstorm with heavy drizzle'
 'ragged thunderstorm']
San Antonio
[nan 'sky is clear' 'light rain' 'moderate rain' 'mist' 'thunderstorm'
 'thunderstorm with heavy rain' 'thunderstorm with rain' 'haze'
 'scattered clouds' 'few clouds' 'overcast clouds' 'broken clouds' 'fog'
 'heavy intensity rain' 'light intensity drizzle' 'proximity thunderstorm'
 'thunderstorm with light rain' 'drizzle' 'dust' 'heavy snow'
 'proximity thunderstorm with drizzle' 'squalls'
 'proximity thunderstorm with rain' 'freezing rain' 'light snow'
 'very heavy rain' 'smoke' 'heavy intensity drizzle'
 'thunderstorm with light drizzle']
Dallas
[nan 'mist' 'sky is clear' 'few clouds' 'overcast clouds'
 'scattered clouds' 'broken clouds' 'light intensity drizzle' 'light rain'
 'fog' 'haze' 'heavy snow' 'dust' 'proximity thunderstorm'
 'thunderstorm with rain' 'thunderstorm' 'thunderstorm with heavy rain'
 'heavy intensity rain' 'moderate rain' 'drizzle'
 'heavy intensity drizzle' 'thunderstorm with light rain'
 'proximity thunderstorm with rain' 'thunderstorm with heavy drizzle'
 'very heavy rain' 'smoke' 'light snow' 'snow' 'squalls'
 'thunderstorm with light drizzle' 'tornado' 'thunderstorm with drizzle'
 'proximity shower rain']
Houston
[nan 'sky is clear' 'few clouds' 'scattered clouds' 'broken clouds'
 'overcast clouds' 'light rain' 'moderate rain' 'haze' 'mist' 'fog'
 'thunderstorm with light rain' 'thunderstorm with heavy rain'
 'light intensity drizzle' 'thunderstorm' 'proximity thunderstorm'
 'thunderstorm with rain' 'shower rain' 'proximity shower rain'
 'proximity moderate rain' 'heavy intensity rain' 'drizzle' 'dust' 'smoke'
 'very heavy rain' 'light snow' 'proximity thunderstorm with rain'
 'squalls' 'thunderstorm with light drizzle' 'thunderstorm with drizzle'
 'heavy intensity shower rain' 'sand' 'heavy intensity drizzle'
 'volcanic ash']
Kansas City
[nan 'sky is clear' 'broken clouds' 'few clouds' 'scattered clouds'
 'shower rain' 'light intensity shower rain' 'proximity shower rain'
 'haze' 'fog' 'overcast clouds' 'light rain' 'light intensity drizzle'
 'mist' 'thunderstorm with light rain' 'thunderstorm' 'heavy snow'
 'heavy intensity rain' 'snow' 'moderate rain' 'light snow'
 'thunderstorm with rain' 'proximity thunderstorm'
 'heavy intensity shower rain' 'thunderstorm with heavy rain'
 'very heavy rain' 'smoke' 'freezing rain' 'shower drizzle' 'squalls'
 'drizzle']
Minneapolis
[nan 'broken clouds' 'scattered clouds' 'overcast clouds' 'sky is clear'
 'few clouds' 'light rain' 'light intensity drizzle' 'mist' 'haze' 'fog'
 'drizzle' 'moderate rain' 'proximity thunderstorm'
 'proximity thunderstorm with rain' 'heavy snow' 'snow' 'light snow'
 'heavy intensity rain' 'shower snow' 'light rain and snow' 'squalls'
 'thunderstorm with heavy rain' 'thunderstorm with rain'
 'thunderstorm with light rain' 'heavy intensity drizzle'
 'thunderstorm with light drizzle' 'thunderstorm' 'very heavy rain'
 'proximity thunderstorm with drizzle' 'proximity shower rain'
 'light intensity shower rain' 'light shower snow' 'smoke']
Saint Louis
[nan 'sky is clear' 'broken clouds' 'overcast clouds' 'few clouds'
 'light rain' 'scattered clouds' 'light intensity drizzle' 'mist'
 'proximity thunderstorm' 'heavy intensity rain' 'moderate rain' 'fog'
 'haze' 'drizzle' 'thunderstorm with light rain' 'heavy snow'
 'thunderstorm with heavy rain' 'thunderstorm with rain' 'shower drizzle'
 'thunderstorm' 'freezing rain' 'snow' 'heavy intensity drizzle'
 'light snow' 'squalls' 'very heavy rain' 'sleet'
 'light intensity shower rain' 'smoke' 'proximity thunderstorm with rain'
 'thunderstorm with light drizzle']
Chicago
[nan 'overcast clouds' 'sky is clear' 'broken clouds' 'scattered clouds'
 'mist' 'light intensity drizzle' 'light rain' 'moderate rain' 'haze'
 'few clouds' 'drizzle' 'thunderstorm with rain' 'proximity thunderstorm'
 'fog' 'heavy intensity rain' 'thunderstorm with light rain' 'heavy snow'
 'light rain and snow' 'snow' 'light snow' 'thunderstorm with heavy rain'
 'very heavy rain' 'thunderstorm' 'heavy intensity drizzle'
 'thunderstorm with drizzle' 'proximity thunderstorm with rain'
 'proximity thunderstorm with drizzle' 'squalls' 'freezing rain'
 'thunderstorm with light drizzle' 'smoke' 'dust' 'proximity shower rain']
Nashville
[nan 'mist' 'overcast clouds' 'light rain' 'moderate rain' 'broken clouds'
 'sky is clear' 'few clouds' 'scattered clouds' 'fog'
 'heavy intensity rain' 'haze' 'thunderstorm' 'proximity thunderstorm'
 'proximity thunderstorm with rain' 'squalls' 'light intensity drizzle'
 'heavy snow' 'snow' 'thunderstorm with heavy rain'
 'thunderstorm with rain' 'thunderstorm with light rain' 'very heavy rain'
 'light snow' 'freezing rain' 'light shower snow' 'shower snow' 'smoke']
Indianapolis

[nan 'overcast clouds' 'broken clouds' 'light rain' 'moderate rain'
 'light intensity drizzle' 'heavy intensity rain' 'mist' 'drizzle'
 'scattered clouds' 'few clouds' 'sky is clear' 'thunderstorm'
 'proximity thunderstorm' 'thunderstorm with rain'
 'heavy intensity drizzle' 'fog' 'haze' 'heavy snow' 'snow'
 'thunderstorm with light rain' 'freezing rain' 'light snow'
 'proximity thunderstorm with rain' 'thunderstorm with heavy rain'
 'very heavy rain' 'squalls' 'thunderstorm with light drizzle'
 'light intensity shower rain']
Atlanta
[nan 'light rain' 'overcast clouds' 'heavy intensity rain' 'moderate rain'
 'mist' 'light intensity drizzle' 'scattered clouds' 'broken clouds'
 'drizzle' 'sky is clear' 'fog' 'few clouds' 'haze'
 'thunderstorm with rain' 'thunderstorm with light rain' 'heavy snow'
 'proximity thunderstorm' 'heavy intensity drizzle'
 'light intensity shower rain' 'thunderstorm'
 'proximity thunderstorm with rain' 'thunderstorm with heavy rain'
 'squalls' 'thunderstorm with light drizzle' 'light snow' 'snow'
 'very heavy rain' 'light shower snow' 'smoke' 'thunderstorm with drizzle']
Detroit
[nan 'sky is clear' 'light rain' 'moderate rain' 'overcast clouds' 'mist'
 'broken clouds' 'scattered clouds' 'light intensity drizzle'
 'light intensity shower rain' 'drizzle' 'heavy intensity rain'
 'few clouds' 'heavy snow' 'haze' 'heavy intensity drizzle' 'fog'
 'proximity shower rain' 'heavy shower snow'
 'light intensity drizzle rain' 'shower snow' 'light snow' 'snow'
 'light shower sleet' 'thunderstorm with light rain'
 'thunderstorm with heavy rain' 'thunderstorm with rain' 'thunderstorm'
 'shower rain' 'very heavy rain' 'proximity thunderstorm' 'smoke'
 'freezing rain' 'light shower snow' 'squalls']
Jacksonville
[nan 'scattered clouds' 'few clouds' 'sky is clear' 'broken clouds'
 'proximity shower rain' 'moderate rain' 'proximity thunderstorm'
 'light rain' 'mist' 'overcast clouds' 'heavy intensity rain' 'fog'
 'thunderstorm with light rain' 'thunderstorm' 'haze'
 'light intensity drizzle' 'smoke' 'thunderstorm with heavy rain'
 'thunderstorm with rain' 'very heavy rain' 'squalls' 'drizzle'
 'shower rain']
Charlotte
[nan 'mist' 'overcast clouds' 'moderate rain' 'light intensity drizzle'
 'light rain' 'fog' 'broken clouds' 'sky is clear' 'few clouds'
 'scattered clouds' 'heavy intensity rain' 'proximity thunderstorm' 'haze'
 'drizzle' 'heavy intensity drizzle' 'heavy snow' 'snow' 'thunderstorm'
 'thunderstorm with heavy rain' 'thunderstorm with light rain'
 'proximity thunderstorm with rain' 'thunderstorm with rain'
 'very heavy rain' 'light snow' 'thunderstorm with drizzle'
 'freezing rain' 'smoke']
Miami
[nan 'light intensity drizzle' 'broken clouds' 'mist' 'overcast clouds'
 'light rain' 'moderate rain' 'thunderstorm with heavy rain'
 'heavy intensity rain' 'sky is clear' 'haze' 'few clouds'
 'scattered clouds' 'proximity thunderstorm'
 'thunderstorm with light rain' 'fog' 'thunderstorm' 'squalls' 'smoke'
 'thunderstorm with rain' 'very heavy rain' 'proximity shower rain'
 'drizzle' 'light intensity shower rain' 'shower rain' 'tornado']
Pittsburgh
[nan 'mist' 'scattered clouds' 'broken clouds' 'sky is clear' 'light rain'
 'overcast clouds' 'few clouds' 'light intensity drizzle' 'fog' 'haze'
 'moderate rain' 'heavy snow' 'light rain and snow' 'snow' 'light snow'
 'heavy intensity rain' 'proximity thunderstorm' 'thunderstorm' 'squalls'
 'thunderstorm with light rain' 'thunderstorm with rain' 'very heavy rain'
 'thunderstorm with heavy rain' 'drizzle' 'dust' 'proximity shower rain'
 'freezing rain' 'proximity thunderstorm with rain'
 'heavy intensity drizzle']
Toronto
[nan 'sky is clear' 'scattered clouds' 'overcast clouds' 'few clouds'
 'haze' 'broken clouds' 'light intensity drizzle' 'mist' 'fog'
 'light intensity shower rain' 'light rain' 'proximity shower rain'
 'moderate rain' 'heavy shower snow' 'heavy snow' 'light snow'
 'heavy intensity rain' 'thunderstorm with light rain' 'snow'
 'shower rain' 'shower snow' 'light shower sleet' 'freezing rain'
 'thunderstorm' 'thunderstorm with rain' 'heavy intensity shower rain'
 'thunderstorm with heavy rain' 'proximity thunderstorm' 'very heavy rain'
 'light shower snow' 'light rain and snow' 'light intensity drizzle rain'
 'squalls' 'drizzle' 'rain and snow']
Philadelphia
[nan 'broken clouds' 'sky is clear' 'scattered clouds' 'overcast clouds'
 'light rain' 'mist' 'fog' 'haze' 'heavy intensity rain' 'few clouds'
 'moderate rain' 'light intensity drizzle' 'heavy snow' 'snow'
 'volcanic ash' 'squalls' 'thunderstorm with rain'
 'thunderstorm with light rain' 'proximity thunderstorm' 'very heavy rain'
 'thunderstorm' 'thunderstorm with heavy rain' 'light rain and snow'
 'light snow' 'smoke' 'drizzle' 'freezing rain' 'heavy intensity drizzle'
 'light intensity shower rain' 'shower rain']
New York
[nan 'few clouds' 'sky is clear' 'scattered clouds' 'broken clouds'
 'overcast clouds' 'mist' 'drizzle' 'moderate rain'
 'light intensity drizzle' 'light rain' 'fog' 'haze' 'heavy snow'
 'heavy intensity drizzle' 'heavy intensity rain' 'light rain and snow'
 'snow' 'light snow' 'freezing rain' 'proximity thunderstorm'
 'thunderstorm' 'thunderstorm with rain' 'smoke' 'very heavy rain'
 'thunderstorm with heavy rain' 'thunderstorm with light rain' 'squalls'
 'dust' 'proximity thunderstorm with rain'
 'thunderstorm with light drizzle' 'sand' 'shower rain'
 'proximity thunderstorm with drizzle' 'light intensity shower rain'
 'sand/dust whirls' 'heavy thunderstorm']
Montreal
[nan 'overcast clouds' 'sky is clear' 'broken clouds' 'fog' 'mist'
 'scattered clouds' 'few clouds' 'light rain' 'light intensity drizzle'
 'moderate rain' 'light intensity shower rain' 'haze' 'heavy shower snow'
 'heavy snow' 'shower snow' 'proximity shower rain' 'snow' 'freezing rain'
 'light rain and snow' 'light snow' 'light shower sleet'
 'light intensity drizzle rain' 'proximity thunderstorm'
 'thunderstorm with light rain' 'heavy intensity rain'
 'thunderstorm with rain' 'very heavy rain' 'smoke' 'thunderstorm' 'dust'
 'light shower snow' 'shower rain' 'shower drizzle' 'sand'
 'thunderstorm with heavy rain' 'heavy intensity shower rain' 'drizzle']
Boston
[nan 'sky is clear' 'few clouds' 'mist' 'light intensity drizzle'
 'moderate rain' 'overcast clouds' 'light rain' 'broken clouds' 'fog'
 'scattered clouds' 'haze' 'heavy intensity rain' 'heavy snow' 'squalls'
 'freezing rain' 'snow' 'light snow' 'proximity thunderstorm'
 'thunderstorm with light rain' 'drizzle' 'thunderstorm'
 'heavy intensity drizzle' 'thunderstorm with rain' 'very heavy rain'
 'thunderstorm with heavy rain' 'dust' 'light rain and snow']
Beersheba
[nan 'sky is clear' 'overcast clouds' 'few clouds' 'broken clouds'
 'light rain' 'scattered clouds' 'moderate rain' 'heavy intensity rain']
Tel Aviv District
[nan 'sky is clear' 'few clouds' 'broken clouds' 'scattered clouds' 'mist'
 'thunderstorm with rain' 'thunderstorm' 'light rain' 'shower rain'
 'moderate rain' 'thunderstorm with light rain' 'overcast clouds'
 'proximity thunderstorm' 'haze' 'drizzle' 'heavy intensity rain' 'dust'
 'fog' 'light intensity drizzle' 'heavy intensity shower rain'
 'ragged shower rain' 'snow' 'very heavy rain'
 'thunderstorm with heavy rain' 'light intensity shower rain' 'smoke']
Eilat
['haze' 'broken clouds' 'sky is clear' 'scattered clouds' 'few clouds'
 'mist' 'dust' 'overcast clouds' 'light rain' 'moderate rain'
 'heavy intensity shower rain' 'shower rain' 'fog'
 'thunderstorm with rain' 'sand' 'thunderstorm with light rain'
 'heavy intensity rain' 'proximity thunderstorm' 'thunderstorm' 'drizzle'
 nan]
Haifa
[nan 'sky is clear' 'overcast clouds' 'broken clouds' 'few clouds'
 'scattered clouds' 'light rain' 'moderate rain' 'heavy intensity rain'
 'proximity thunderstorm' 'haze' 'drizzle' 'thunderstorm with heavy rain'
 'mist' 'fog' 'thunderstorm with rain' 'dust'
 'thunderstorm with light rain' 'shower rain' 'thunderstorm'
 'heavy intensity shower rain']
Nahariyya
[nan 'sky is clear' 'overcast clouds' 'broken clouds' 'few clouds'
 'scattered clouds' 'light rain' 'moderate rain' 'heavy intensity rain'
 'proximity thunderstorm' 'haze' 'drizzle' 'thunderstorm with heavy rain'
 'mist' 'fog' 'thunderstorm with rain' 'dust'
 'thunderstorm with light rain' 'shower rain' 'thunderstorm'
 'heavy intensity shower rain']
Jerusalem
[nan 'sky is clear' 'overcast clouds' 'scattered clouds' 'few clouds'
 'broken clouds' 'light rain' 'moderate rain' 'heavy intensity rain'
 'mist' 'haze' 'dust' 'thunderstorm with rain' 'thunderstorm'
 'proximity thunderstorm' 'thunderstorm with light rain'
 'heavy intensity shower rain' 'shower rain'
 'thunderstorm with heavy rain' 'ragged shower rain' 'drizzle' 'fog'
 'heavy thunderstorm' 'smoke']

# Conclusion: 

There are 36 cities identified in the 7 csv files;  
6 files contains weather information of the 36 cities;  
All csv files contains numerical information, except weather_description, which is textual.   

In each of the 6 files:  
-datetime is defined as an object  
-many missing values for some of the cities  

Relative humidity is measured in percentage(%); 
Pressure is measured in hPa???;  
Temperatire is measured in Kelvin;  
Wind direction is measured in meteorological degrees;  
Wind speed is measured in mps??

# Part 2: Load the 2017 bixi data

In [16]:
df_bixi = pd.read_csv('../../Data/Raw/MTL_data/OD_2017.csv',low_memory=False)
df_stn = pd.read_csv('../../Data/Raw/MTL_data/Stations_2017.csv',low_memory=False)

In [17]:
#size and number of variables in the OD csv
print(df_bixi.shape)
print(df_bixi.head(10))

(4018722, 7)
   Unnamed: 0        start_date  start_station_code          end_date  \
0           0  2017-04-15 00:00                7060  2017-04-15 00:31
1           1  2017-04-15 00:01                6173  2017-04-15 00:10
2           2  2017-04-15 00:01                6203  2017-04-15 00:04
3           3  2017-04-15 00:01                6104  2017-04-15 00:06
4           4  2017-04-15 00:01                6174  2017-04-15 00:11
5           5  2017-04-15 00:02                6719  2017-04-15 00:12
6           6  2017-04-15 00:02                6223  2017-04-15 00:13
7           7  2017-04-15 00:02                6253  2017-04-15 00:07
8           8  2017-04-15 00:02                6119  2017-04-15 00:38
9           9  2017-04-15 00:02                6119  2017-04-15 00:37

  end_station_code  duration_sec  is_member
0             7060          1841          1
1             6173           553          1
2             6204           195          1
3             6114           285          1
4             6174           569          1
5             6354           620          1
6             6148           679          1
7             6254           311          1
8             6703          2120          1
9             6703          2108          1

In [18]:
#Let us look at the columns of OD
print(df_bixi.dtypes)
#Let us look at details of numeric variables
print(df_bixi.describe())

Unnamed: 0             int64
start_date            object
start_station_code     int64
end_date              object
end_station_code      object
duration_sec           int64
is_member              int64
dtype: object
         Unnamed: 0  start_station_code  duration_sec     is_member
count  4.018722e+06        4.018722e+06  4.018722e+06  4.018722e+06
mean   2.009360e+06        6.324815e+03  8.374504e+02  7.992536e-01
std    1.160105e+06        3.758617e+02  6.577147e+02  4.005588e-01
min    0.000000e+00        5.002000e+03  6.100000e+01  0.000000e+00
25%    1.004680e+06        6.105000e+03  3.820000e+02  1.000000e+00
50%    2.009360e+06        6.203000e+03  6.700000e+02  1.000000e+00
75%    3.014041e+06        6.389000e+03  1.121000e+03  1.000000e+00
max    4.018721e+06        1.000200e+04  7.199000e+03  1.000000e+00

In [19]:
#Determine number of missing values for all columns:
c = df_bixi.dtypes.index

for x in c:
    missing=np.where(df_bixi[x].isnull()==True)
    print(x, "column has", len(missing[0]), "missing values")

Unnamed: 0 column has 0 missing values
start_date column has 0 missing values
start_station_code column has 0 missing values
end_date column has 0 missing values
end_station_code column has 0 missing values
duration_sec column has 0 missing values
is_member column has 0 missing values

In [20]:
#size and number of variables in the station csv
print(df_stn.shape)
print(df_stn.head(10))

(546, 5)
   code                                      name   latitude  longitude  \
0  7060                   de l'Église / de Verdun  45.463001 -73.571569
1  6173                          Berri / Cherrier  45.519088 -73.569509
2  6203                    Hutchison / Sherbrooke  45.507810 -73.572080
3  6204                         Milton / Durocher  45.508144 -73.574772
4  6104                     Wolfe / René-Lévesque  45.516818 -73.554188
5  6114  Métro Papineau (Cartier / Ste-Catherine)  45.523530 -73.551990
6  6174                            Roy / St-Denis  45.519080 -73.572700
7  6719                   Park Row O / Sherbrooke  45.460729 -73.634073
8  6354                       Marcil / Sherbrooke  45.471743 -73.613924
9  6223                   du Mont-Royal / du Parc  45.517000 -73.589000

   is_public
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1

In [21]:
#Let us look at the columns of stations
print(df_stn.dtypes)
#Let us look at details of numeric variables
print(df_stn.describe())

code           int64
name          object
latitude     float64
longitude    float64
is_public      int64
dtype: object
               code    latitude   longitude   is_public
count    546.000000  546.000000  546.000000  546.000000
mean    6412.743590   45.519109  -73.582622    0.983516
std      405.396125    0.027919    0.027344    0.127442
min     5002.000000   45.430740  -73.670634    0.000000
25%     6143.500000   45.501726  -73.599579    1.000000
50%     6305.500000   45.523103  -73.577413    1.000000
75%     6722.750000   45.538784  -73.564608    1.000000
max    10002.000000   45.582757  -73.495067    1.000000

In [22]:
#Determine number of missing values for all columns:
c = df_stn.dtypes.index

for x in c:
    missing=np.where(df_stn[x].isnull()==True)
    print(x, "column has", len(missing[0]), "missing values")

code column has 0 missing values
name column has 0 missing values
latitude column has 0 missing values
longitude column has 0 missing values
is_public column has 0 missing values

# Conclusion:  

For 2017 OD csv file:  
-all datetime columns are defined as an object;  
-end station code is defined as an object;  
-all other columns are defined as an integer;  
-no missing data  

For 2017 station csv file:  
-there are 546 stations  
-for each station, all columns are numeric  
-no missing data