In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.externals import joblib

In [2]:
df = pd.read_csv('../../Data/Processed/bixiWeather.csv',low_memory=False)

In [3]:
df.dtypes

start_date             object
weekday                 int64
month                   int64
hour                    int64
num_week                int64
start_station_code      int64
end_date               object
end_station_code      float64
duration_min          float64
is_member               int64
datetime               object
humidity              float64
pressure              float64
temp_celsius          float64
description            object
wind_speed            float64
wind_direction        float64
dtype: object

In [4]:
df_bixi_model=df.drop(['start_date','start_station_code','end_date','end_station_code','duration_min','is_member','datetime'],axis=1)

In [5]:

df_bixi_model.dtypes

weekday             int64
month               int64
hour                int64
num_week            int64
humidity          float64
pressure          float64
temp_celsius      float64
description        object
wind_speed        float64
wind_direction    float64
dtype: object

In [6]:
df_group = df_bixi_model.groupby(['num_week','weekday', 'hour']).agg('first')
df_group['num_trips']=df_bixi_model.groupby(['num_week','weekday', 'hour']).count()['description']
df_group=df_group.reset_index(level=[0,1,2])

df_group.head()
df = df_group

In [7]:
#df_bixi_model.head(60)

df.head(10)

,num_week,weekday,hour,month,humidity,pressure,temp_celsius,description,wind_speed,wind_direction,num_trips
0,15,5,0,4,22.0,1027.0,13.00,few clouds,4.0,260.0,144
1,15,5,1,4,34.0,1027.0,10.67,few clouds,3.0,240.0,76
2,15,5,2,4,37.0,1027.0,10.00,few clouds,3.0,220.0,39
3,15,5,3,4,42.0,1027.0,8.30,few clouds,3.0,210.0,40
4,15,5,4,4,56.0,1027.0,6.00,few clouds,3.0,210.0,12
5,15,5,5,4,56.0,1027.0,6.00,few clouds,3.0,210.0,21
6,15,5,6,4,56.0,1026.0,6.33,few clouds,3.0,200.0,36
7,15,5,7,4,60.0,1026.0,5.00,few clouds,2.0,210.0,84
8,15,5,8,4,60.0,1026.0,4.32,scattered clouds,2.0,200.0,172
9,15,5,9,4,69.0,1025.0,3.35,few clouds,1.0,240.0,326

In [8]:

# Create linear regression object
model = linear_model.LinearRegression()

columns = ['num_week', 'weekday', 'hour', 'pressure', 'temp_celsius', 'humidity', 'wind_speed'] 

# Train the model using the training sets
model.fit(df[columns],df['num_trips'])

# Print the Coefficients
print('Coefficients', np.round(model.coef_,1))
print('Interception', round(model.intercept_,1))
print('')
for i, col in enumerate(columns):
    print(col, round(model.coef_[i],1))

joblib.dump(model, '../../Code/Model/linear_regression.pkl')

Coefficients [  9.8  -1.1  54.3  12.6  23.8   2.  -20.1]
Interception -13128.5

num_week 9.8
weekday -1.1
hour 54.3
pressure 12.6
temp_celsius 23.8
humidity 2.0
wind_speed -20.1

['../../Code/Model/linear_regression.pkl']